/* body{
    margin-top: 100px;
}
.box1{
    margin-left: 400px;
    margin-right: 400px;
    border-style: dashed;
    border: 1px;

}
.box2{
    margin-left: 400px;
    margin-right: 400px;
    border-style: dashed;
    border: 1px;

}
.box3{
    margin-left: 400px;
    margin-right: 400px;
    border-style: dashed;
    border: 1px;

} */